<div class="content">
    <form role="form">
        <div class="form-group">
            <label for="projectName">Nom du projet :</label>
                {{input type="text" class="form-control" value=projectName maxLength=50 placeholder="Entrez le nom du projet"}}
        </div>
    </form>
</div>