<div class="content">
    <form role="form">
        <div class="form-group">
            <label for="name">Nom de l'entité :</label>
                {{input type="text" class="form-control" value=newName maxLength=50 placeholder="Entrez le nom de l'entité"}}
        </div>
        <div class="form-group">
            <label for="type">Type :</label>
                {{input type="text" class="form-control" value=newType maxLength=50 placeholder="Entrez le type de l'entité"}}
        </div>
        <div class="form-group">
            <label for="attr">Attributs :</label>
                
        </div>
        <div class="form-group">
            <label for="meth">Méthodes :</label>
                
        </div>
    </form>
</div>